@model WebApplication2.viewModel.NewCustomerViewModel
@{
    ViewBag.Title = "CustomerForm";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if (Model.NameTitleForm == 0)
{
    <h2>New Customer Form</h2>
}
else
{
    <h2>Edit Customer Form</h2>
}
@using (Html.BeginForm("Save", "Customers"))
{
    @Html.ValidationSummary(true, "Please Fix The Following Error", new { @class = "btn btn-outline-danger disabled" })
    <div class="form-group mt-4">
        @Html.LabelFor(m => m.Customer.Name, new { @class = "form-label" })
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control", @placeholder = "Customer Name" })
        @Html.ValidationMessageFor(m => m.Customer.Name)
    </div>
    <div class="form-group mt-4">
        @Html.LabelFor(m => m.Customer.MembershipTypeId, new { @class = "form-label" })
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-select", @placeholder = "Customer Birth Date", @type = "date" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>
    <div class="form-group mt-4 has-danger">
        @Html.LabelFor(m => m.Customer.BirthDate, new { @class = "form-label" })
        @if (Model.Customer.Id == 0)
        {
            @Html.TextBoxFor(m => m.Customer.BirthDate, new { @class = "form-control", @placeholder = "customer birth date", @type = "date" })
            @Html.ValidationMessageFor(m => m.Customer.BirthDate)
        }
        else
        {
            @Html.TextBoxFor(m => m.Customer.BirthDate, "{0:dd MMMM yyyy}", new { @class = "form-control", @placeholder = "customer birth date" })
            <small class="form-text text-muted">Example : 01 January 2000</small>
            <br />
            @Html.ValidationMessageFor(m => m.Customer.BirthDate)
        }
    </div>
    <div class="form-check mt-4 ">
        <label class="form-check-label" for="IsSubcribedToNewsLetter">
            @Html.CheckBoxFor(m => m.Customer.IsSubcribedToNewsletter, new { @class = "form-check-input", @type = "checkbox", @id = "IsSubcribedToNewsLetter" }) Subscribe To News Later!
        </label>
    </div>
    @Html.HiddenFor(m => m.Customer.Id)
    <button type="submit" class="btn btn-primary mt-4">Save Data</button>
}

@section scripts
{
    @Scripts.Render("~/bundles/jqueryval")  
}