@model WebApplication2.Models.Customer

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(Model => Model.Name)</h2>
<ul>
    <li>@Html.LabelFor(Model => Model.MembershipType.Name): @Html.DisplayFor(Model => Model.MembershipType.Name)</li>
    @*(Model => Model.BirthDate.ToString("dd MMMM yyyy")*@
    <li>@Html.LabelFor(Model => Model.BirthDate): @Html.DisplayFor(Model => Model.BirthDate)</li>
</ul>
    @Html.ActionLink("Edit", "Edit", "Customers", new { id = Model.Id }, null)
